<form
  nz-form
  [formGroup]="validateForm"
  (ngSubmit)="submitForm(validateForm.value)"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Título</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Link</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="link" />
      <small>Ejemplo link: https://youtu.be/fsrpymfZTrs</small>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Imagen</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-upload
        nzName="thumbnail"
        [nzBeforeUpload]="beforeUpload"
        [nzShowUploadList]="false"
        webkitdirectory
        *ngIf="!mainFile"
      >
        <button nz-button type="button">
          <i nz-icon nzType="upload"></i>Subir imagen
        </button>
      </nz-upload>
      <span *ngIf="mainFile"
        >{{ mainFile.name
        }}<button
          nz-button
          type="button"
          nzDanger
          nzType="primary"
          (click)="(mainFile == null)"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i></button
      ></span>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Cargo</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="position">
        <nz-option
          *ngFor="let rank of ranks"
          [nzLabel]="rank.name"
          [nzValue]="rank.fireID"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Descripción</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <textarea formControlName="description" nz-input rows="2"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        Guardar
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
