<form
  nz-form
  [formGroup]="validateForm"
  (ngSubmit)="submitForm(validateForm.value)"
>
  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzRequired>Nivel administrativo</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="select">
      <nz-select formControlName="position">
        <nz-option nzValue="1" nzLabel="Operativo"></nz-option>
        <nz-option nzValue="2" nzLabel="Administrativo"></nz-option>
        <nz-option nzValue="3" nzLabel="Relaciones públicas"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzFor="fullName" nzRequired>Nombre</nz-form-label>
  <nz-form-control nzErrorTip="Escribe un nombre de usuario!">
    <input
      type="text"
      nz-input
      formControlName="fullName"
      placeholder="Usuario"
      id="fullName"
    />
  </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzRequired>Correo</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <input
        nz-input
        formControlName="email"
        placeholder="email"
        type="email"
      />
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('email')">
          The input is not valid E-mail!
        </ng-container>
        <ng-container *ngIf="control.hasError('required')">
          Please input your E-mail!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzRequired>Contraseña</nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      nzErrorTip="Please input your password!"
    >
      <input
        nz-input
        type="password"
        formControlName="password"
        (ngModelChange)="validateConfirmPassword()"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="12" nzRequired>Confirmar Contraseña</nz-form-label>
    <nz-form-control
      [nzSpan]="12"
      nzHasFeedback
      [nzErrorTip]="passwordErrorTpl"
    >
      <input
        nz-input
        type="password"
        formControlName="confirm"
        placeholder="confirm your password"
      />
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Password is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">
        Submit
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
