<div class="header">
  <div class="logo logo-dark">
    <a href="">
      <img src="assets/images/logo/logo.png" alt="Logo" />
      <img
        class="logo-fold"
        src="assets/images/logo/logo-fold.png"
        alt="Logo"
      />
    </a>
  </div>
  <div class="logo logo-white">
    <a href="">
      <img src="assets/images/logo/logo-white.png" alt="Logo" />
      <img
        class="logo-fold"
        src="assets/images/logo/logo-fold-white.png"
        alt="Logo"
      />
    </a>
  </div>
  <div class="nav-wrap">
    <ul class="nav-left">
      <li class="desktop-toggle">
        <a (click)="toggleFold()">
          <i
            nz-icon
            [nzType]="isFolded ? 'menu-unfold' : 'menu-fold'"
            theme="outline"
          ></i>
        </a>
      </li>
      <li class="mobile-toggle">
        <a (click)="toggleExpand()">
          <i
            nz-icon
            [nzType]="isExpand ? 'menu-fold' : 'menu-unfold'"
            theme="outline"
          ></i>
        </a>
      </li>
    </ul>
    <ul class="nav-right">
      <li>
        <!-- asso exist -->
        <span
          *ngIf="associate != undefined"
          class="p-h-10 pointer"
          nz-dropdown
          [nzDropdownMenu]="profile"
          [nzTrigger]="'click'"
          [nzPlacement]="'bottomRight'"
        >
          <nz-avatar
            [nzIcon]="'user'"
            nzSrc="{{ associate.profilePic }}"
          ></nz-avatar>
        </span>
        <!-- admin exist -->
        <span
          *ngIf="administrator != undefined"
          class="p-h-10 pointer"
          nz-dropdown
          [nzDropdownMenu]="profile"
          [nzTrigger]="'click'"
          [nzPlacement]="'bottomRight'"
        >
          <nz-avatar
            [nzIcon]="'user'"
            nzSrc="{{ administrator.profilePic }}"
          ></nz-avatar>
        </span>
        <nz-dropdown-menu #profile="nzDropdownMenu">
          <ul nz-menu class="p-b-15 p-t-20">
            <li class="p-h-20 p-b-15 m-b-10 border-bottom">
              <!-- asso exist -->
              <div class="d-flex m-r-50" *ngIf="associate != undefined">
                <nz-avatar
                  nzSize="large"
                  nzSrc="{{ associate.profilePic }}"
                ></nz-avatar>
                <div class="m-l-10">
                  <p class="m-b-0 text-dark font-weight-semibold">
                    {{ associate.nickName }}
                  </p>
                  <p class="m-b-0 opacity-07">{{ associate.rankName }}</p>
                </div>
              </div>
              <!-- admin exist -->
              <div class="d-flex m-r-50" *ngIf="administrator != undefined">
                <nz-avatar
                  nzSize="large"
                  nzSrc="{{ administrator.profilePic }}"
                ></nz-avatar>
                <div class="m-l-10">
                  <p class="m-b-0 text-dark font-weight-semibold">
                    {{ administrator.rankName }}
                  </p>
                </div>
              </div>
            </li>
            <li nz-menu-item *ngIf="associate != undefined">
              <a
                class="p-v-5 d-flex align-items-center justify-content-between"
                routerLink="/perfil/"
              >
                <div>
                  <i
                    class="opacity-04 font-size-16"
                    nz-icon
                    nzType="user"
                    theme="outline"
                  ></i>
                  <span class="m-l-10">Ver perfil</span>
                </div>
                <i
                  class="font-size-10"
                  nz-icon
                  nzType="right"
                  theme="outline"
                ></i>
              </a>
            </li>
            <li nz-menu-item>
              <a
                class="p-v-5 d-flex align-items-center justify-content-between"
                (click)="logOut()"
              >
                <div>
                  <i
                    class="opacity-04 font-size-16"
                    nz-icon
                    nzType="logout"
                    theme="outline"
                  ></i>
                  <span class="m-l-10">Cerrar Sesión</span>
                </div>
                <i
                  class="font-size-10"
                  nz-icon
                  nzType="right"
                  theme="outline"
                ></i>
              </a>
            </li>
            <!-- admin exist -->
          </ul>
        </nz-dropdown-menu>
      </li>
    </ul>
  </div>
</div>
