<div class="container py-5">
  <div class="text-center m-t-30 m-b-40">
    <h2>Seleccionar membresía</h2>
    <p class="w-45 m-h-auto m-b-30">
      Selecciona la membresía que quieras comprar.
    </p>
  </div>
  <div class="row align-items-center">
    <div class="col-md-4" *ngFor="let membership of membershipsList">
      <nz-card [nzCover]="coverTemplate" *ngIf="membership.private == false">
        <div class="d-flex justify-content-between p-b-20 border-bottom">
          <div class="media align-items-center">
            <div class="m-l-15">
              <h3
                class="font-weight-bold font-size-30 m-b-0"
                [ngStyle]="{ color: blue }"
              >
                {{ membership.price | currency }}
              </h3>
              <h6 class="m-b-0" [ngStyle]="{ color: gray }">
                {{ membership.name }}
              </h6>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button
            nz-button
            nzType="primary"
            (click)="
              createModal(
                membership.name,
                membership.message,
                membership.fireID
              )
            "
          >
            Seleccionar
          </button>
        </div>
      </nz-card>
      <ng-template #coverTemplate>
        <img alt="example" [src]="membership.image" />
      </ng-template>
    </div>
  </div>
</div>
