<div class="container-fluid p-0 h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-8 bg-white">
      <div class="container h-100 px-4">
        <div class="row no-gutters h-100 align-items-center">
          <div class="col-lg-10 mx-auto">
            <h2>Contáctanos</h2>
            <form
              nz-form
              [formGroup]="contactForm"
              class="login-form"
              nzLayout="vertical"
              (ngSubmit)="submitForm()"
            >
              <div class="row">
                <nz-form-item nz-col class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="fullname"
                    >Nombre Completo:</nz-form-label
                  >
                  <nz-form-control nzErrorTip="*Este campo es obligatorio">
                    <input
                      type="text"
                      nz-input
                      formControlName="fullname"
                      id="fullname"
                    />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="email"
                    >Correo electrónico</nz-form-label
                  >
                  <nz-form-control nzErrorTip="*Este campo es obligatorio">
                    <input
                      type="text"
                      nz-input
                      formControlName="email"
                      id="email"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="row">
                <nz-form-item nz-col class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="phone"
                    >Teléfono</nz-form-label
                  >
                  <nz-form-control nzErrorTip="*Este campo es obligatorio">
                    <input
                      type="phone"
                      nz-input
                      formControlName="phone"
                      id="phone"
                    />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-col class="col-md-6 col-lg-6">
                  <nz-form-label nzFor="country" nzRequired>País</nz-form-label>
                  <nz-form-control nzErrorTip="*Este campo es obligatorio">
                    <nz-select
                      nzShowSearch
                      nzAllowClear
                      formControlName="country"
                      (ngModelChange)="changeValue($event)"
                    >
                      <nz-option
                        [nzLabel]="country.name"
                        [nzValue]="country.name"
                        *ngFor="let country of countries"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <nz-form-item>
                <nz-form-label nzFor="message">Mensaje</nz-form-label>
                <nz-form-control>
                  <div>
                    <textarea
                      nz-input
                      nzAutosize
                      formControlName="message"
                    ></textarea>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <div>
                <nz-form-item>
                  <nz-form-control>
                    <div>
                      <button
                        nz-button
                        class="login-form-button"
                        [nzType]="'primary'"
                        [disabled]="contactSend"
                      >
                        {{ contactSend ? "Enviando..." : "Enviar" }}
                      </button>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 d-none d-lg-flex banner_bg"
      style="background-image: url('assets/images/others/foto-3.jpg')"
    >
      <div
        class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between"
      >
        <div>
          <img src="assets/images/logo/logo-white.png" alt="" />
        </div>
        <div>
          <h1 class="text-white m-b-20 font-weight-normal">CONTÁCTANOS</h1>
          <p class="text-white font-size-16 lh-2 w-80 opacity-08">
            ALGUNOS TRABAJAN 8 HORAS POR UN SALARIO, OTROS TRABAJAMOS 24/7 POR
            UN SUEÑO, CONTÁCTANOS Y HAZ TUS SUEÑOS REALIDAD.
          </p>
        </div>
        <div class="d-flex justify-content-between"></div>
      </div>
    </div>
  </div>
</div>
