<form
  nz-form
  [formGroup]="directorForm"
  class="login-form"
  nzLayout="vertical"
  (ngSubmit)="submitForm()"
>
  <div class="row">
    <nz-form-item class="col-md-6 col-lg-6">
      <nz-form-label nzRequired nzFor="email">Correo del usuario</nz-form-label>
      <nz-form-control nzErrorTip="Escribe un correo válido!">
        <input
          type="text"
          nz-input
          formControlName="email"
          placeholder="Correo electrónico"
          id="email"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="col-md-6 col-lg-6">
      <nz-form-label nzRequired nzFor="directorType"
        >Tipo de director</nz-form-label
      >
      <nz-form-control nzErrorTip="Selecciona un tipo de director">
        <nz-select
          nzShowSearch
          nzPlaceHolder="Selecciona un tipo de director"
          formControlName="directorType"
          (ngModelChange)="changeState($event)"
          [nzDisabled]="directorForm.controls.email.value === ''"
        >
          <nz-option
            [nzLabel]="rank.name"
            [nzValue]="rank.fireID"
            *ngFor="let rank of directors"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="row">
    <nz-form-item
      class="col-md-6 col-lg-6"
      *ngIf="
        directorForm.controls.directorType.value === 'nJB8qZe8gVcKmJYxj98g' ||
        directorForm.controls.directorType.value === 'MceYA3FAO9RIYWV0Uz82'
      "
    >
      <nz-form-label nzFor="country" nzRequired>País</nz-form-label>
      <nz-form-control nzErrorTip="Selecciona un país">
        <!-- #################################################################### -->
        <!-- cambiar cuando se pase a producción por le ID respectivo de director nal -->
        <!-- #################################################################### -->
        <nz-select
          nzShowSearch
          nzPlaceHolder="Selecciona un país"
          formControlName="country"
          (ngModelChange)="changeState($event)"
          [nzDisabled]="directorForm.controls.directorType.value === ''"
        >
          <nz-option
            [nzLabel]="country.name"
            [nzValue]="country"
            *ngFor="let country of countries"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- #################################################################### -->
    <!-- cambiar cuando se pase a producción por le ID respectivo de director zonal -->
    <!-- #################################################################### -->
    <nz-form-item
      class="col-md-6 col-lg-6"
      *ngIf="
        directorForm.controls.directorType.value === 'MceYA3FAO9RIYWV0Uz82'
      "
    >
      <nz-form-label nzFor="cityID" nzRequired>Zona</nz-form-label>
      <nz-form-control nzErrorTip="Selecciona una zona">
        <nz-select
          nzShowSearch
          nzPlaceHolder="Selecciona una zona"
          formControlName="cityID"
          (ngModelChange)="changeState(country)"
          [nzDisabled]="directorForm.controls.directorType.value === ''"
        >
          <nz-option
            [nzLabel]="city.name"
            [nzValue]="city.id"
            *ngFor="let city of cities | filtercityselectors: country"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-control>
      <div class="d-flex align-items-center justify-content-between">
        <button nz-button class="login-form-button" nzType="primary">
          Registrar
        </button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
