<nz-alert *ngIf="successmsg" nzType="success" nzMessage="Aliado creado correctamente" nzShowIcon></nz-alert>
<nz-alert *ngIf="errormsg" nzType="error" nzMessage="Error al crear el aliado intenta nuevamente" nzShowIcon></nz-alert>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item *ngFor="let control of listOfControl; let i = index">
      <nz-form-control
        [nzXs]="24"
        [nzSm]="20"
        nzErrorTip="Escribe el nombre de la escuela"
      >
        <input
          class="passenger-input"
          nz-input
          placeholder="Escuela"
          [attr.id]="control.id"
          [formControlName]="control.controlInstance"
        />
        <nz-input-number 
          class="passenger-input" 
          nz-input 
          nzPlaceHolder="Tarifa" 
          [nzStep]="0.1" 
          [attr.id]="control.id" 
          [formControlName]="control.rate">
        </nz-input-number> 
        <nz-select 
            nzShowSearch 
            nzAllowClear 
            nzPlaceHolder="Selecciona un país"
            class="passenger-input"
            nz-input
            placeholder="País"
            [attr.id]="control.id"
            [formControlName]="control.country"
        >
            <nz-option *ngFor="let country of countries" nzLabel="{{country.name}}" nzValue="{{country.id}}"></nz-option>
        </nz-select>
        <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzXs]="24" [nzSm]="24">
        <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
          <i nz-icon nzType="plus"></i>
          Agregar escuela
        </button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzXs]="24" [nzSm]="20">
        <button nz-button nzType="primary">Guardar</button>
      </nz-form-control>
    </nz-form-item>
  </form>