<div class="row">
  <div class="col-lg-12">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Usuarios</h5>
        <button
          nz-button
          [nzType]="'primary'"
          class="excel"
          (click)="exportToExcel()"
        >
          Exportar excel
        </button>
      </div>

      <div class="m-t-30">
        <nz-table
          #filterTable
          [nzData]="listOfDisplayData"
          nzTableLayout="fixed"
        >
          <thead>
            <tr>
              <th nzCustomFilter>
                Nombre
                <nz-filter-trigger
                  [(nzVisible)]="visible"
                  [nzActive]="searchValue.length > 0"
                  [nzDropdownMenu]="menu"
                >
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th>Usuario</th>
              <th>
                Correo
                <nz-filter-trigger
                  [(nzVisible)]="visibleEmail"
                  [nzActive]="searchEmail.length > 0"
                  [nzDropdownMenu]="emailSearch"
                >
                  <i nz-icon nzType="search"></i>
                </nz-filter-trigger>
              </th>
              <th *ngIf="!isDirector">Membresía</th>
              <th>Escuela</th>
              <th>Teléfono</th>
              <th>Cargo</th>
              <th *ngIf="!isDirector">Activo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of filterTable.data">
              <td>
                <div class="d-flex align-items-center">
                  <nz-avatar
                    [nzSize]="30"
                    nzIcon="user"
                    [nzSrc]="data.profilePic"
                  ></nz-avatar>
                  <h6 class="m-l-10 m-b-0">{{ data.fullName }}</h6>
                </div>
              </td>
              <td nzEllipsis>{{ data.nickName }}</td>
              <td nzEllipsis>{{ data.email }}</td>
              <td *ngIf="!isDirector">
                <nz-select
                  [(ngModel)]="data.membershipID"
                  nzPlaceHolder="No Membresía"
                  (nzOpenChange)="openMembSelector($event, data.status)"
                  (ngModelChange)="
                    changeMemb($event, data.fireId, data.in_ref_list)
                  "
                >
                  <nz-option
                    *ngFor="let membership of membershipsList"
                    [nzValue]="membership.fireID"
                    [nzLabel]="membership.name"
                  ></nz-option>
                </nz-select>
              </td>
              <td>{{ data.alieID }}</td>
              <td>{{ data.phone | phone: "MX" }}</td>
              <td>{{ data.rankName }}</td>
              <td *ngIf="!isDirector">
                <label
                  nz-checkbox
                  [(ngModel)]="data.status"
                  (ngModelChange)="
                    updateStatus(
                      data.fireId,
                      data.status,
                      data.membershipID,
                      data.fullName,
                      data.email,
                      data.in_ref_list
                    )
                  "
                  [nzDisabled]="data.membershipID == ''"
                ></label>
              </td>

              <!-- <td>
                <a
                  nz-popconfirm
                  nzPopconfirmTitle="¿Está seguro de eliminar este usuario?"
                  [nzIcon]="iconTpl"
                  (nzOnConfirm)="confirm()"
                  (nzOnCancel)="cancel()"
                >
                  <i
                    nz-icon
                    nzType="delete"
                    nzTheme="fill"
                    class="delete-ico"
                  ></i>
                </a> 
              </td> -->
            </tr>
          </tbody>
        </nz-table>
        <ng-template #iconTpl>
          <i nz-icon nzType="question-circle-o" style="color: red"></i>
        </ng-template>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="Buscar Nombre"
                [(ngModel)]="searchValue"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="search()"
                class="search-button"
              >
                Search
              </button>
              <button nz-button nzSize="small" (click)="reset()">Reset</button>
            </div>
          </div>
        </nz-dropdown-menu>
        <nz-dropdown-menu #emailSearch="nzDropdownMenu">
          <div class="ant-table-filter-dropdown">
            <div class="search-box">
              <input
                type="text"
                nz-input
                placeholder="Buscar Correo"
                [(ngModel)]="searchEmail"
              />
              <button
                nz-button
                nzSize="small"
                nzType="primary"
                (click)="searchEmailVal()"
                class="search-button"
              >
                Buscar
              </button>
              <button nz-button nzSize="small" (click)="resetEmail()">
                Reset
              </button>
            </div>
          </div>
        </nz-dropdown-menu>
      </div>
    </nz-card>
  </div>
</div>
