<div class="row">
  <div class="col-lg-12">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Aliados</h5>
        <!-- <button nz-button [nzType]="'primary'" class="excel">
          Exportar excel
        </button> -->
      </div>
      <div class="m-t-30">
        <nz-table #filterTable [nzData]="aliesList" nzTableLayout="fixed">
          <thead>
            <tr>
              <th
                *ngFor="let column of listOfColumns"
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections"
                [nzFilterMultiple]="column.filterMultiple"
                [nzFilters]="column.listOfFilter"
                [nzFilterFn]="column.filterFn"
              >
                {{ column.name }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of filterTable.data">
              <td>
                <div
                  class="editable-cell"
                  [hidden]="editId === data.id"
                  (click)="startEdit(data.id)"
                >
                  {{ data.name }}
                </div>
                <input
                  [hidden]="editId !== data.id"
                  type="text"
                  nz-input
                  [(ngModel)]="data.name"
                />
              </td>
              <td>{{ data.countryName }}</td>
              <td>
                <div
                  class="editable-cell"
                  [hidden]="editId === data.id"
                  (click)="startEdit(data.id)"
                >
                  {{ data.rate | phone: "MX" }}
                </div>
                <input
                  [hidden]="editId !== data.id"
                  type="text"
                  nz-input
                  [(ngModel)]="data.rate"
                />
              </td>
              <td>{{ data.bill }}</td>
              <td>
                <label
                  nz-checkbox
                  [(ngModel)]="data.status"
                  (ngModelChange)="updateStatus(data.firebaseID, data.status)"
                  [nzDisabled]="data.membershipID == ''"
                ></label>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <ng-template #iconTpl>
          <i nz-icon nzType="question-circle-o" style="color: red"></i>
        </ng-template>
      </div>
    </nz-card>
  </div>
</div>
