<form
  nz-form
  [formGroup]="validateForm"
  class="ant-advanced-search-form"
  *ngIf="valuesChanges"
  (ngSubmit)="sendForm()"
>
  <h4 class="title">Precios membresías</h4>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" *ngFor="let control of memberships">
      <nz-form-item>
        <nz-form-label [nzFor]="control.name">{{ control.name }}</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [placeholder]="'Precio ' + control.name"
            [formControlName]="control.fireID"
            [attr.id]="control.fireID"
            type="number"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'">Guardar</button>
    </div>
  </div>
</form>
<form
  nz-form
  [formGroup]="validateForm2"
  class="ant-advanced-search-form"
  *ngIf="valuesChanges"
  (ngSubmit)="sendForm2()"
>
  <h4 class="title">Presupuesto vinculación</h4>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" *ngFor="let bud of budgets">
      <nz-form-item>
        <nz-form-label nzFor="user_budget">{{ bud.name }}</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            [placeholder]="bud.amount"
            [formControlName]="bud.id"
            [attr.id]="bud.id"
            type="number"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'">Guardar</button>
    </div>
  </div>
</form>

<div class="row mt-3">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-3" *ngFor="let wallet of wallets">
        <nz-card [nzActions]="[actionPay]">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="m-b-0" [ngStyle]="{ color: orange }">
                Saldo a pagar en la escuela {{ wallet.name }}
              </p>
              <h2 class="m-b-0">
                {{ wallet.current_balance | currency: "USD":"symbol":"1.0-0" }}
              </h2>
            </div>
          </div>
          <ng-template #actionPay>
            <div
              nz-popconfirm
              nzPopconfirmTitle="Quiere realizar el pago a {{ wallet.name }}"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="confirm(wallet.owner)"
              (nzOnCancel)="cancel()"
            >
              <i
                class="fas fa-money-bill-wave"
                *ngIf="wallet.current_balance > 0"
              ></i>
            </div>
          </ng-template>
        </nz-card>
      </div>
    </div>
  </div>
</div>
