<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item *ngFor="let control of listOfControl; let i = index">
    <nz-form-label
      [nzXs]="24"
      [nzSm]="4"
      *ngIf="i == 0"
      [nzFor]="control.controlInstance"
      nzRequired
      >Escuelas
    </nz-form-label>
    <nz-form-control
      [nzXs]="24"
      [nzSm]="20"
      [nzOffset]="i == 0 ? 0 : 4"
      nzErrorTip="Escribe el nombre de la escuela"
    >
      <input
        class="passenger-input"
        nz-input
        placeholder="Escuela"
        [attr.id]="control.id"
        [formControlName]="control.controlInstance"
      />
      <nz-form-label
        [nzXs]="24"
        [nzSm]="4"
        *ngIf="i == 0"
        [nzFor]="control.controlInstance"
        nzRequired
        >País
      </nz-form-label>
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Selecciona un país"
        class="passenger-input"
        nz-input
        placeholder="País"
        [attr.id]="control.id"
        [formControlName]="control.country"
      >
        <nz-option nzLabel="País 1" nzValue="pais-1"></nz-option>
        <nz-option nzLabel="País 2" nzValue="pais-2"></nz-option>
        <nz-option nzLabel="País 3" nzValue="pais-3"></nz-option>
      </nz-select>
      <i
        nz-icon
        nzType="minus-circle-o"
        class="dynamic-delete-button"
        (click)="removeField(control, $event)"
      ></i>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 20, offset: 4 }"
    >
      <button
        nz-button
        nzType="dashed"
        class="add-button"
        (click)="addField($event)"
      >
        <i nz-icon nzType="plus"></i>
        Agregar escuela
      </button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzXs]="{ span: 24, offset: 0 }"
      [nzSm]="{ span: 20, offset: 4 }"
    >
      <button nz-button nzType="primary">Guardar</button>
    </nz-form-control>
  </nz-form-item>
</form>
