<div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-3" *ngFor="let wallet of wallets">
          <nz-card>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="m-b-0" [ngStyle]="{ color: red }">{{ wallet.name }}</p>
                <h2 class="m-b-0">
                  {{ wallet.current_balance | currency: "USD"}}
                </h2>
              </div>
            </div>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
  