<div class="container-fluid p-0 h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-8 bg-white">
      <div class="container h-100">
        <div class="row no-gutters h-100 align-items-center">
          <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
            <h2>Iniciar Sesión</h2>
            <p class="m-b-30">Escribe tus datos de acceso</p>
            <form
              nz-form
              [formGroup]="loginForm"
              nzLayout="vertical"
              class="login-form"
              (ngSubmit)="submitForm()"
            >
              <nz-form-item>
                <nz-form-label nzRequired nzFor="email"
                  >Correo electrónico</nz-form-label
                >
                <nz-form-control nzErrorTip="Ingresa tu correo electrónico">
                  <nz-input-group [nzPrefix]="prefixUser">
                    <input
                      type="text"
                      nz-input
                      formControlName="email"
                      placeholder="email"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired nzFor="password"
                  >Contraseña</nz-form-label
                >
                <nz-form-control nzErrorTip="Ingresa tu contraseña">
                  <nz-input-group [nzPrefix]="prefixLock">
                    <input
                      type="password"
                      nz-input
                      formControlName="password"
                      placeholder="Password"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <a
                    class="font-size-13 p-t-10 text-muted"
                    [routerLink]="['/auth/reset-password']"
                    >¿Olvidaste tu contraseña?</a
                  >
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="font-size-13 text-muted">
                      <!-- ¿Aún no tienes una cuenta? <a class="small" [routerLink]="['/auth/sign-up-1']"> Registrate</a> -->
                    </span>
                    <button
                      nz-button
                      class="login-form-button"
                      [nzType]="'primary'"
                    >
                      Iniciar Sesión
                    </button>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
            <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 d-none d-lg-flex banner_bg"
      style="background-image: url('assets/images/others/foto-1.jpg')"
    >
      <div
        class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between"
      >
        <div>
          <img src="assets/images/logo/logo-white.png" alt="Logo" />
        </div>
        <div class="txt">
          <h1 class="text-white m-b-20 font-weight-normal">
            Formamos empresarios
          </h1>
          <p class="text-white font-size-16 lh-2 w-80 opacity-08">
            EL ÉXITO DE UNA EMPRESA NO ES MÁS QUE EL ÉXITO DE LOS TRABAJAN EN
            ELLA. INICIA SESIÓN BIENVENIDO A TU EMPRESA.
          </p>
        </div>
        <div class="d-flex justify-content-between copy">
          <span class="text-white">© 2020 24 / 7 Bussines Center</span>
        </div>
      </div>
    </div>
  </div>
</div>
