.banner_bg {
    position: relative;
    &::after {
        content: '';
        background-color: rgba($color: #000000, $alpha: .8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    & > * {
        position: relative;
        z-index: 2;

    }
}