<form
  nz-form
  [formGroup]="zoneForm"
  nzLayout="vertical"
  (ngSubmit)="submitZoneForm()"
>
  <nz-form-item>
    <nz-form-label nzFor="name" nzRequired>Nombre</nz-form-label>
    <nz-form-control nzErrorTip="Ingrese un nombre de zona">
      <input nz-input formControlName="name" placeholder="Nombre de la zona" />
    </nz-form-control>
  </nz-form-item>
  <!-- <nz-form-item>
    <nz-form-label>Siglas</nz-form-label>
    <nz-form-control nzErrorTip="">
      <input
        nz-input
        formControlName="acronym"
        placeholder="Siglas 3 primeras letras"
      />
    </nz-form-control>
  </nz-form-item> -->
  <nz-form-item>
    <nz-form-label nzFor="country" nzRequired>País</nz-form-label>
    <nz-form-control nzErrorTip="Seleccione un país">
      <nz-select
        nzShowSearch
        nzPlaceHolder="Select a country"
        formControlName="country"
        (ngModelChange)="changeState($event)"
      >
        <nz-option
          [nzLabel]="country.name"
          [nzValue]="country.id"
          *ngFor="let country of countries"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary">Guardar</button>
    </nz-form-control>
  </nz-form-item>
</form>
