<div nz-row [nzGutter]="12" class="align-items-center justify-content-center">
  <form
    nz-form
    [formGroup]="requestForm"
    class="login-form"
    nzLayout="vertical"
    (ngSubmit)="submitForm()"
    nz-col
    class="gutter-row"
    [nzSpan]="12"
  >
    <div class="row">
      <nz-form-item class="col-md-6 col-lg-6">
        <nz-form-label nzRequired nzFor="wallet">Billetera</nz-form-label>
        <nz-form-control
          nzErrorTip="Selecciona una billetera para solicitar el dinero"
        >
          <nz-select
            formControlName="wallet"
            nzPlaceHolder="Billetera"
            (ngModelChange)="updateMax($event)"
          >
            <nz-option
              *ngFor="let wallet of options"
              [nzValue]="wallet.fireID"
              [nzLabel]="wallet.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="col-md-6 col-lg-6">
        <nz-form-label nzRequired nzFor="mount">Valor</nz-form-label>
        <nz-form-control nzErrorTip="Ingresa el monto a solicitar">
          <nz-input-number
            type="number"
            [nzMax]="maxVariable"
            [nzMin]="0"
            nz-input
            formControlName="mount"
            placeholder="Valor a solicitar"
            id="mount"
          >
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="row">
      <nz-form-item class="col-md-6 col-lg-6">
        <nz-form-label nzRequired nzFor="token">Token</nz-form-label>
        <nz-form-control nzErrorTip="Ingresa el token enviado a tu correo">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input
              [type]="tokenVisible ? 'text' : 'password'"
              nz-input
              placeholder="TOKEN"
              formControlName="token"
            />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i
              nz-icon
              [nzType]="tokenVisible ? 'eye-invisible' : 'eye'"
              (click)="tokenVisible = !tokenVisible"
              class="m-r-10"
            ></i>
            <button
              nzTooltipTitle="Solicitar TOKEN"
              nzTooltipPlacement="top"
              nz-button
              nz-tooltip
              type="button"
              (click)="reqCode($event)"
            >
              <i
                class="m-r-10"
                class="fas fa-envelope"
                nz-tooltip
                nzTooltipTitle="Solicitar TOKEN"
              ></i>
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-form-item>
      <nz-form-control>
        <div class="d-flex align-items-center justify-content-end">
          <button nz-button class="login-form-button" [nzType]="'primary'">
            Solicitar
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
