<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item *ngFor="let control of listOfControl; let i = index">
    <nz-form-control
      [nzXs]="24"
      [nzSm]="20"
      nzErrorTip="Escribe el código del país"
    >
      <input
        class="passenger-input"
        nz-input
        placeholder="Código país 3 primeras letras"
        [attr.id]="control.id"
        [formControlName]="control.code"
      />
      <input
        class="passenger-input"
        nz-input
        placeholder="País"
        [attr.id]="control.id"
        [formControlName]="control.name"
      />
      <i
        nz-icon
        nzType="minus-circle-o"
        class="dynamic-delete-button"
        (click)="removeField(control, $event)"
      ></i>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzXs]="24"
      [nzSm]="20"
      nzErrorTip="Escribe el nombre del país"
    >
      <button
        nz-button
        nzType="dashed"
        class="add-button"
        (click)="addField($event)"
      >
        <i nz-icon nzType="plus"></i>
        Agregar país
      </button>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzXs]="24" [nzSm]="20">
      <button nz-button nzType="primary">Guardar</button>
    </nz-form-control>
  </nz-form-item>
</form>
