<div class="container-fluid p-h-0 p-v-20 h-100">
  <div class="d-flex flex-column justify-content-between h-100">
    <div class="d-none d-md-block"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-5 m-h-auto">
          <nz-card class="m-b-100 shadow-lg">
            <div
              class="d-flex align-items-center justify-content-between m-b-30"
            >
              <img class="img-fluid" alt="" src="assets/images/logo/logo.png" />
              <h2 class="m-b-0">Recuperar contraseña</h2>
            </div>
            <form
              nz-form
              [formGroup]="resetPasswordForm"
              nzLayout="vertical"
              class="login-form"
              (ngSubmit)="submitForm()"
              *ngIf="resetPassActive; else thenBlock"
            >
              <nz-form-item>
                <nz-form-label nzRequired nzFor="email"
                  >Correo electrónico</nz-form-label
                >
                <nz-form-control nzErrorTip="Ingresa tu correo electrónico">
                  <nz-input-group [nzPrefix]="prefixUser">
                    <input
                      type="email"
                      nz-input
                      formControlName="email"
                      placeholder="Correo electrónico"
                    />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <div
                    class="d-flex align-items-center justify-content-between flex-column"
                  >
                    <button
                      nz-button
                      class="login-form-button"
                      [nzType]="'primary'"
                    >
                      Recuperar contraseña
                    </button>
                    <span class="font-size-13 text-muted mt-4"
                      >¿Ya tienes una cuenta?
                      <a class="small" [routerLink]="['/auth/login']">
                        Inicia Sesión</a
                      ></span
                    >
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>
            <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
            <ng-template #thenBlock>
              <div class="text-center">
                <p>
                  Hemos enviado un mensaje al correo:
                  <span class="font-size-13 text-muted">{{
                    this.resetPasswordForm.controls["email"].value
                  }}</span>
                  , para que recuperes tu contraseña
                </p>
                <span class="font-size-13 text-muted mt-4"
                  ><a class="small" [routerLink]="['/auth/login']"
                    >Volver al inicio</a
                  ></span
                >
              </div>
            </ng-template>
          </nz-card>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex p-h-40 justify-content-between">
      <span class="">© 2020 24/7 Bussines Center</span>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="text-dark text-link" href="">Contáctanos</a>
        </li>
      </ul>
    </div>
  </div>
</div>
