<nz-table #filterTable [nzData]="listVideos" nzTableLayout="fixed">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td nzEllipsis>
        {{ data.name }}
      </td>
      <td nzEllipsis>{{ data.description }}</td>
      <td nzEllipsis>
        {{ data.link }}
      </td>
      <td nzEllipsis>
        {{ data.position }}
      </td>
      <td>
        <a
          nz-popconfirm
          nzPopconfirmTitle="¿Está seguro de eliminar este video?, esta acción NO se podrá revertir"
          [nzIcon]="iconTpl"
          (nzOnConfirm)="confirm(data.fireID)"
          (nzOnCancel)="cancel()"
        >
          <i nz-icon nzType="delete" nzTheme="fill" class="delete-ico"></i>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red"></i>
</ng-template>
