<footer class="footer">
    <div class="footer-content justify-content-between">
        <p class="m-b-0"></p>
        <span>
            <a href="" class="text-gray">Contactarte</a>
        </span>
    </div>
</footer>