<div
  class="col-lg-12 d-flex justify-content-center align-items-center"
  *ngIf="wallet != undefined"
>
  <nz-card style="width: 100%; max-width: 680px">
    <p
      class="m-b-0"
      [ngStyle]="{ color: orange }"
      style="font-size: 20px; font-weight: bold"
    >
      Billetera {{ wallet.name }}
    </p>
    <div class="d-flex justify-content-end align-items-center">
      <div>
        <h2 class="m-b-0">{{ wallet.current_balance | currency }}</h2>
      </div>
    </div>
  </nz-card>
</div>
<div class="col-lg-12">
  <nz-card>
    <div class="d-flex justify-content-between align-items-center">
      <h5>Ordenes recientes</h5>
    </div>
    <div class="m-t-30" *ngIf="wallet != undefined">
      <nz-table
        #ordersListTable
        [nzData]="movementsList"
        [nzShowPagination]="false"
        [nzLoading]="loading"
        class="no-border-last"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Solicitante</th>
            <th>Valor</th>
            <th>Receptor</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ordersListTable.data">
            <td># {{ data.fireID }}</td>
            <td>
              {{ data.date.toDate() | date: "dd-MM-y hh:mm a" }}
            </td>
            <td *ngIf="data.type == 1; else movement">Solicitud pago</td>
            <ng-template #movement>
              <td>Trasnferencia.</td>
            </ng-template>
            <td>
              <div class="d-flex align-items-center">
                <h6 class="m-l-10 m-b-0">{{ data.user1email }}</h6>
              </div>
            </td>
            <td>{{ data.amount | currency }}</td>
            <td>
              <div class="d-flex align-items-center">
                <h6 class="m-l-10 m-b-0">{{ data.user2email }}</h6>
              </div>
            </td>
            <td>
              <nz-badge *ngIf="data.status == 3" nzStatus="success"
                >Aprobada
              </nz-badge>
              <nz-badge *ngIf="data.status == 2" nzStatus="error"
                >Denegada
              </nz-badge>
              <nz-badge *ngIf="data.status == 1" nzStatus="processing"
                >Pendiente
              </nz-badge>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-card>
</div>
