<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha</th>
      <th>Solicitante</th>
      <th>Valor</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td># {{ data.fireID }}</td>
      <td>{{ data.date.toDate() | date: "dd-MM-y hh:mm a" }}</td>
      <td>{{ data.user1email }}</td>
      <td>{{ data.amount | currency }}</td>
      <td>
        <nz-button-group>
          <button
            nz-button
            nzType="primary"
            nz-popconfirm
            nzPopconfirmTitle="¿Está seguro de aceptar esta solicitud? Recuerda realizar el de envío de dinero a la billetera virtual."
            [nzIcon]="iconTpl"
            (nzOnConfirm)="
              confirmSi(
                data.fireID,
                data.amount,
                data.walletID1,
                3,
                data.user1email
              )
            "
            (nzOnCancel)="cancelSi()"
          >
            <i nz-icon nzType="check" nzTheme="outline"></i>
          </button>
          <button
            nz-button
            nzDanger
            nzType="primary"
            nz-popconfirm
            nzPopconfirmTitle="¿Está seguro de rechazar esta solicitud?"
            [nzIcon]="iconTpl"
            (nzOnConfirm)="
              confirmNo(
                data.fireID,
                data.amount,
                data.walletID1,
                2,
                data.user1email
              )
            "
            (nzOnCancel)="cancelNo()"
          >
            <i nz-icon nzType="close" nzTheme="outline"></i>
          </button>
        </nz-button-group>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #iconTpl>
  <i nz-icon nzType="question-circle-o" style="color: red"></i>
</ng-template>
