<div class="row">
  <div class="col-lg-12">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Directores</h5>
        <button nz-button [nzType]="'primary'" class="excel">
          Exportar excel
        </button>
      </div>
      <div class="m-t-30">
        <nz-table #basicTable [nzData]="listOfData">
          <thead>
            <tr>
              <th>Correo</th>
              <th>Tipo</th>
              <th>País</th>
              <th>Zona</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.mail }}</td>
              <td>{{ data.type }}</td>
              <td>{{ data.country }}</td>
              <td>{{ data.zone }}</td>
              <td>
                <a
                  nz-popconfirm
                  nzPopconfirmTitle="¿Está seguro de eliminar este director?"
                  [nzIcon]="iconTpl"
                  (nzOnConfirm)="confirm(data.firebaseID)"
                  (nzOnCancel)="cancel()"
                >
                  <i
                    nz-icon
                    nzType="delete"
                    nzTheme="fill"
                    class="delete-ico"
                  ></i>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <ng-template #iconTpl>
          <i nz-icon nzType="question-circle-o" style="color: red"></i>
        </ng-template>
      </div>
    </nz-card>
  </div>
</div>
