<div class="container">
  <nz-card>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="d-md-flex align-items-center">
          <div class="text-center text-sm-left">
            <nz-avatar
              class="shadow-sm m-v-15"
              [nzSize]="150"
              nzSrc="{{ associate.profilePic }}"
            ></nz-avatar>
          </div>
          <div class="text-center text-sm-left m-v-15 p-l-30">
            <h2 class="m-b-5">{{ associate.fullName }}</h2>
            <p class="text-opacity font-size-13">@{{ associate.nickName }}</p>
            <p class="text-dark m-b-20">{{ associate.rankName }}</p>
            <a nz-button nzType="primary" routerLink="editar">Editar perfil</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="d-md-block d-none border-left col-1"></div>
          <div class="col">
            <ul class="list-unstyled m-t-10">
              <li class="row">
                <p class="col-sm-6 font-weight-semibold text-dark m-b-5">
                  <span>Correo electrónico: </span>
                </p>
                <p class="col font-weight-semibold">{{ associate.email }}</p>
              </li>
              <li class="row">
                <p class="col-sm-6 font-weight-semibold text-dark m-b-5">
                  <span>Teléfono: </span>
                </p>
                <p class="col font-weight-semibold">{{ associate.phone }}</p>
              </li>
              <li class="row">
                <p class="col-sm-6 font-weight-semibold text-dark m-b-5">
                  <span>País: </span>
                </p>
                <p class="col font-weight-semibold">
                  {{ associate.countryID }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nz-card>
</div>
