<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-3">
        <nz-card>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="m-b-0" [ngStyle]="{ color: orange }">Saldo Acumulado</p>
              <h2 class="m-b-0">
                {{ walletServ.totalMoney | currency: "USD" }}
              </h2>
            </div>
          </div>
        </nz-card>
      </div>
      <div class="col-md-3" *ngFor="let wallet of wallets">
        <nz-card>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="m-b-0" [ngStyle]="{ color: red }">{{ wallet.name }}</p>
              <h2 class="m-b-0">
                {{ wallet.current_balance | currency: "USD" }}
              </h2>
            </div>
          </div>
        </nz-card>
      </div>
      <div class="col-md-6">
        <nz-card>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <p class="m-b-0" [ngStyle]="{ color: purple }">
                Membresia actual
              </p>
              <h2 class="m-b-0">{{ associate.membershipName }}</h2>
              <p class="m-b-0" [ngStyle]="{ color: purple }">Cargo actual</p>
              <span
                class="text-gray font-weight-semibold font-size-13"
                [ngStyle]="{ color: blue }"
                >{{ associate.rankName }}</span
              >
            </div>
          </div>
          <div class="m-t-40">
            <div class="d-flex justify-content-between">
              <div>
                <p class="m-b-0" [ngStyle]="{ color: purple }">Próximo cargo</p>
                <nz-badge nzStatus="default" [nzColor]="purple"></nz-badge>
                <span class="text-gray font-weight-semibold font-size-13">{{
                  nextRank.name
                }}</span>
              </div>
              <span class="text-dark font-weight-semibold font-size-13"
                >{{ nextRank.currentchi }} / {{ nextRank.goal }}</span
              >
            </div>
            <nz-progress
              [nzStrokeColor]="purple"
              nzPercent="{{ progressBar }}"
              nzSize="small"
              [nzShowInfo]="false"
            ></nz-progress>
          </div>
        </nz-card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <nz-card>
          <div class="d-flex justify-content-between align-items-center">
            <h5>Mis referidos</h5>
            <a
              [routerLink]="'/auth/registrate/' + currentUser"
              nz-button
              [nzType]="'primary'"
            >
              Agregar referido
            </a>
          </div>
          <div class="m-t-30">
            <nz-table
              #expandTable
              [nzData]="listOfMapData"
              nzTableLayout="fixed"
            >
              <thead>
                <tr>
                  <th>Nombre y apellidos</th>
                  <th>Usuario</th>
                  <th>Teléfono</th>
                  <th>Cargo</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data of expandTable.data">
                  <ng-container
                    *ngFor="let item of mapOfExpandedData[data.key]"
                  >
                    <tr
                      *ngIf="
                        (item.parent && item.parent.expand) || !item.parent
                      "
                    >
                      <td
                        [nzIndentSize]="item.level * 20"
                        [nzShowExpand]="!!item.children"
                        [(nzExpand)]="item.expand"
                        (nzExpandChange)="
                          collapse(mapOfExpandedData[data.key], item, $event)
                        "
                      >
                        <div class="d-flex align-items-center">
                          <nz-avatar
                            [nzSize]="30"
                            nzIcon="user"
                            [nzSrc]="item.profilePic"
                          ></nz-avatar>
                          <h6 class="m-l-10 m-b-0 refer-name">
                            {{ item.name }}
                          </h6>
                        </div>
                      </td>
                      <td>{{ item.nickname }}</td>
                      <td>{{ item.phone | phone: "MX" }}</td>
                      <td>{{ item.rank_name }}</td>
                      <td>{{ item.status ? "Activo" : "Inactivo" }}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </nz-table>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>
