<div class="videos">
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div
      nz-col
      nzXs="24"
      nzSm="12"
      nzMd="8"
      nzLg="6"
      nzXl="4"
      *ngFor="let video of listVideos"
    >
      <button type="button" (click)="showModalMiddle(video.link, video.name)">
        <nz-card [nzCover]="coverTemplate">
          <nz-card-meta [nzTitle]="video.name">{{ video.name }}</nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img [alt]="video.name" [src]="video.image" />
        </ng-template>
      </button>
    </div>
  </div>
</div>

<nz-modal
  nzWrapClassName="vertical-center-modal"
  [(nzVisible)]="isVisibleMiddle"
  (nzOnCancel)="handleCancel()"
  [nzTitle]="titleVideo"
  [nzWidth]="innerWidth > 768 ? '70%' : '100%'"
  *ngIf="isVisibleMiddle"
  (nzAfterClose)="showVideo = false"
>
  <div *ngIf="showVideo">
    <div
      id="player"
      [ngStyle]="{ width: '100%', height: innerWidth > 768 ? '480px' : '45vh' }"
      style="pointer-events: none"
      (rightClick)="$event.preventDefault()"
    ></div>
  </div>
  <div *nzModalFooter>
    <input
      class="volume"
      id="volume"
      #volume
      value="50"
      data-mute="0.5"
      type="range"
      max="100"
      min="0"
      step="1"
      (input)="updateVolume()"
    />
    <button nz-button nzType="primary" (click)="playVideo()" *ngIf="!playing">
      <i nz-icon nzType="play-circle" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="primary" (click)="pauseVideo()" *ngIf="playing">
      <i nz-icon nzType="pause-circle" nzTheme="outline"></i>
    </button>
  </div>
</nz-modal>
