<div class="container">
  <nz-card nzTitle="Información Básica">
    <div class="media align-items-center">
      <nz-avatar [nzSize]="80" nzIcon="user" [nzSrc]="avatarUrl"></nz-avatar>
      <div class="m-l-20 m-r-20">
        <h5 class="m-b-5 font-size-18">Cambiar Imagen de perfil</h5>
        <p class="opacity-07 font-size-13 m-b-0">
          Peso máximo: 2MB <br />
          {{ loading }}
        </p>
      </div>
      <nz-upload
        nzName="avatar"
        [nzBeforeUpload]="beforeUpload"
        [nzShowUploadList]="false"
        (nzChange)="handleChange($event)"
      >
        <button nz-button nzType="primary">
          <span>Subir Imagen</span>
        </button>
      </nz-upload>
    </div>
    <hr class="m-v-25" />
    <div class="row">
      <form
        nz-form
        [formGroup]="changePWForm"
        (ngSubmit)="submitForm()"
        [nzLayout]="'inline'"
      >
        <nz-form-item>
          <nz-form-label>Dirección</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [placeholder]="associate.address"
              formControlName="address"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Teléfono</nz-form-label>
          <nz-form-control>
            <input
              formControlName="phone"
              nz-input
              [placeholder]="associate.phone"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'">
              Actualizar Datos
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-card>
</div>
