@import url("./assets/lib/hljs/styles/atom-one-light.css");
@import url("../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import "./assets/scss/app.scss";

.ant-menu-item .m-r-10.fas + span,
.ant-menu-submenu-title .m-r-10.fas + span {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-menu-inline-collapsed > .ant-menu-item .m-r-10.fas + span,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-item
  .m-r-10.fas
  + span,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .m-r-10.fas
  + span,
.ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .m-r-10.fas
  + span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}

button.excel {
  background-color: #01723a;
  border: 1px solid #01723a;
}

.ant-popover-message-title {
  max-width: 360px;
  text-align: justify;
}
