<div class="row">
  <div class="col-lg-12">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Usuarios Administrativos</h5>
      </div>
      <div class="m-t-30">
        <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
          <thead>
            <tr>
              <th
                *ngFor="let column of listOfColumns"
                [nzSortOrder]="column.sortOrder"
                [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections"
                [nzFilterMultiple]="column.filterMultiple"
                [nzFilterFn]="column.filterFn"
              >
                {{ column.name }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of filterTable.data">
              <td>{{ data.rankName }}</td>
              <td>{{ data.email }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
  </div>
</div>
