<div class="container-fluid p-0 h-100">
  <div class="row no-gutters h-100">
    <div class="col-lg-8 bg-white" style="padding: 50px 0">
      <div class="container h-100">
        <div class="row no-gutters h-100 align-items-center">
          <div class="col-md-8 col-lg-7 col-xl-6 mx-auto">
            <h2>Regístrate</h2>
            <p class="m-b-30">Crea tu cuenta y ...</p>
            <form
              nz-form
              [formGroup]="signUpForm"
              class="login-form"
              nzLayout="vertical"
              (ngSubmit)="submitForm()"
            >
              <div class="row">
                <nz-form-item class="col-md-12 col-lg-12">
                  <nz-form-label nzRequired nzFor="nickName"
                    >Usuario para la plaforma</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Escribe un nombre de usuario!">
                    <input
                      type="text"
                      nz-input
                      formControlName="nickName"
                      placeholder="Usuario"
                      id="nickName"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="row">
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="password"
                    >Constraseña</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Escribe tu contraseña!">
                    <input
                      type="password"
                      nz-input
                      formControlName="password"
                      placeholder="Constraseña"
                      id="password"
                      (ngModelChange)="updateConfirmValidator()"
                    />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="repassword"
                    >Repite la constraseña</nz-form-label
                  >
                  <nz-form-control [nzErrorTip]="errorTpl">
                    <input
                      type="password"
                      nz-input
                      formControlName="repassword"
                      placeholder="Verifica tu contraseña"
                      id="repassword"
                    />
                    <ng-template #errorTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Confirma la contraseña!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('confirm')">
                        Las contraseñas no coinciden
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="row">
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="fullName"
                    >Nombre completo</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Escribe tu nombre completo!">
                    <input
                      type="text"
                      nz-input
                      formControlName="fullName"
                      placeholder="Nombre completo"
                      id="fullName"
                    />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="dni"
                    >Documento de identificación</nz-form-label
                  >
                  <nz-form-control nzErrorTip="El documento es obligatorio">
                    <input
                      type="text"
                      nz-input
                      formControlName="dni"
                      placeholder="Documento de identificación"
                      id="dni"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="row">
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="email">Correo</nz-form-label>
                  <nz-form-control [nzErrorTip]="emailError">
                    <input
                      type="email"
                      nz-input
                      formControlName="email"
                      placeholder="Correo"
                      id="email"
                    />
                    <ng-template #emailError let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Correo electrónico es obligatorio!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('email')">
                        El correo no es válido!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzFor="phone" nzRequired
                    >Teléfono</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Ingresa un teléfono válido!">
                    <input
                      nz-input
                      type="text"
                      formControlName="phone"
                      placeholder="Teléfono"
                      id="phone"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="row">
                <nz-form-item class="col-md-12 col-lg-12">
                  <nz-form-label nzRequired nzFor="address"
                    >Dirección</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Dirección es obligatoria!">
                    <input
                      type="address"
                      nz-input
                      formControlName="address"
                      placeholder="Dirección"
                      id="address"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="row">
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzFor="country" nzRequired>País</nz-form-label>
                  <nz-form-control nzErrorTip="Selecciona un país">
                    <nz-select
                      nzShowSearch
                      nzPlaceHolder="Select a country"
                      formControlName="country"
                      (ngModelChange)="changeState($event)"
                    >
                      <nz-option
                        [nzLabel]="country.name"
                        [nzValue]="country"
                        *ngFor="let country of countries"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzRequired nzFor="city">zona</nz-form-label>
                  <nz-form-control nzErrorTip="Selecciona una zona">
                    <nz-select
                      nzShowSearch
                      nzPlaceHolder="Select a city"
                      formControlName="cityID"
                      [nzDisabled]="signUpForm.controls.country.value === ''"
                    >
                      <nz-option
                        [nzLabel]="city.name"
                        [nzValue]="city.id"
                        *ngFor="
                          let city of cities | filtercityselectors: country
                        "
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="row">
                <nz-form-item class="col-md-6 col-lg-6">
                  <nz-form-label nzFor="country" nzRequired
                    >Servicio Académico</nz-form-label
                  >
                  <nz-form-control
                    nzErrorTip="Selecciona un servicio academico"
                  >
                    <nz-select
                      nzShowSearch
                      nzPlaceHolder="Selecciona un servicio académico"
                      formControlName="alieID"
                      [nzDisabled]="signUpForm.controls.cityID.value === ''"
                    >
                      <nz-option
                        [nzLabel]="alie.name"
                        [nzValue]="alie.firebaseID"
                        *ngFor="let alie of alies"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <nz-form-item>
                <nz-form-control>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <span class="font-size-13 text-muted"
                      >¿Ya tienes una cuenta?
                      <a class="small" [routerLink]="['/auth/login']">
                        Inicia Sesión</a
                      ></span
                    >
                    <button
                      nz-button
                      class="login-form-button"
                      [nzType]="'primary'"
                    >
                      {{regSend ? 'Registrando...':'Registrar'}}
                    </button>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 d-none d-lg-flex banner_bg"
      style="
        background-image: url('assets/images/others/foto-2.jpg');
        background-size: cover;
      "
    >
      <div
        class="d-flex h-100 p-h-40 p-v-15 flex-column justify-content-between"
      >
        <div>
          <img src="assets/images/logo/logo-white.png" alt="" />
        </div>
        <div>
          <h1 class="text-white m-b-20 font-weight-normal">REGISTRATE</h1>
          <p class="text-white font-size-16 lh-2 w-80 opacity-08">
            LA VIDA ES MEJOR CUANDO PUEDES VIVIRLA, REGÍSTRATE Y SE UN
            EMPRESARIO 24/7
          </p>
        </div>
        <div class="d-flex justify-content-between"></div>
      </div>
    </div>
  </div>
</div>
